* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin: auto;
  width: 1000px;
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
}

h1 {
  margin: auto;
  margin-bottom: 35px;
}

h3 {
  margin: auto;
  margin-bottom: 20px;
}

.espaciado {
  height: 75px;
}

p {
  margin-bottom: 20px;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.botones a {
  display: flex;
  margin: 15px;
}
